@media (max-width:1200px){

    /* header */
    header{
        padding-inline: 32px;
    }
}

@media (max-width:1030px){
    
}

@media (max-width:1000px){

    /* header */
    header{
        padding: 5px 24px;
    }
    .logo{
        flex-direction: column;
    }

    .header_logo{
        font-size: 32px;
        line-height: 39px;
    }
    .header_logo2{
        font-size: 32px;
        line-height: 39px;
    }
    
}