@media (max-width:490px) {

    /* header */
    header {
        padding-inline: 20px;
    }

    /* index page */
    /* section1 */
    .indexsection1{
        background-image: url(../img/Rectangle\ 109.png);
    }


    /* section2 */
    .indexsection2 {
        height: 476px;
    }

    .indexsection2_figc {
        padding: 3px 0;
    }

    /* section4 */
    .indexsection4 {
        height: 320px;
    }

    /* about page */
    /* section1 */
    .aboutsection1 {
        height: 400px;
        background-image: url(../img/Rectangle\ 110.png);
    }

    .aboutsection1_h {
        font-size: 32px;
        line-height: 40px;
    }

    .form2_input {
        padding-right: 70px;
    }

    .form2_b {
        font-size: 16px;
        line-height: 24px;
        padding: 15px 20px;
    }

    /* section2 */
    .aboutsection2_h{
        font-size: 16px;
    }
    

    /* contact page */
    /* section1 */
    .contactsection1{
        height: 560px;
    }
}

@media (max-width:460px){

    /* about page */
    /* section2 */
    .block_img{
        width: 250px;
    }

    /* contact page */
    /* section1 */
    .contactsection1{
        padding-inline: 10px;
    }

    .contactsection1_article{
        width: 290px;
       
    }

   .contactsection1_h{
    font-size: 20px;
   }

   #NAME{
    width: 120px
   }
   .form3_input::placeholder{
    font-size: 10px;
   }

   #MESSAGE{
    width: 250px;
    height: 80px;
   }

}

@media (max-width:415px){
   /* index page */
    /* section4 */
    .indexsection4 {
        height: 200px;
    }

    .indexsection4_h {
        font-size: 25px;
        line-height: 40px;
    }

    .form1_input {
        padding: 10px;
    }

    .form1_b {
        line-height: 24px;
        padding: 7px 10px;
    }

}



@media (max-width:400px) {

    /* index page */
    /* section2 */
    .indexsection2 {
        height: 400px;
    }

    .indexsection2_img {
        width: 150px;

    }

    .indexsection2_figc {
        font-size: 12px;
        line-height: 20px;
        width: 120px;
    }

    /* about page */
    /* section1 */
    .aboutsection1 {
        height: 400px;
    }

    .aboutsection1_h {
        font-size: 20px;
        line-height: 40px;
    }

    .form2_input {
        padding-right: 20px;
    }

    .form2_b {
        font-size: 16px;
        line-height: 24px;
        padding: 15px 5px;
    }
}

@media (max-width:380px) {

    /* header */
    header {
        padding-inline: 5px;
    }

    /* index page */
    /* section1 */
    .indexsection1_div {
        text-align: center;
    }
}


@media (max-width:340px) {

    /* index page */
    /* section2 */
    .indexsection2 {
        height: 300px;
    }

    .indexsection2_img {
        width: 130px;
    }

    .indexsection2_figc {
        font-size: 10px;
        line-height: 18px;
        width: 100px;
    }

    /* about page */
    /* section2 */
    .aboutsection2_h{
        font-size: 12px;
    }
    .divs,.divs_page{
        width: 30px;
        height: 30px;
    }
    .div_p{
        font-size: 11px;
    }

    /* contact page */
    /* section1 */
    .contactsection1{
        padding-inline: 5px;
    }
}