@media (max-width:750px) {

    /* header */
    .fa-bars {
        display: block;
    }

    .header_nav {
        position: fixed;
        background-color: #B53B1B;
        top: 88px;
        left: -100%;

    }

    .header_ul {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        padding: 25px 81px;
    }

    .show {
        left: 0;
    }
}

@media (max-width:600px) {

    /* indexpage */
    /* section1 */
    .indexsection1 {
        height: 304px;
    }

    .indexsection1_div {
        row-gap: 32px;
    }

    .indexsection1_h {
        font-size: 32px;
        line-height: 40px;
    }

    /* section2 */
    .indexsection2_figc {
        padding: 5px 0;
    }
}